nav{
  background-color: rgb(66, 71, 76);
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0px;
  width: 100%;
  height: 80px;
}

header {
  width: 100%;
}

nav div {
  color: darkgray;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main, img {
margin: 15px;
}
img {
  color: white;
}

section {
display: flex;
justify-content:
}

article {
  overflow: scroll;
  width: 465px;
  margin-left: 15px;
}

button {
  border-radius: 6px;
  border: none;
  background-color: black;
  color: white;
}

footer {
  width: 100%;
  height: 120px;
  background-color: rgb(66, 71, 76);
}